<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CarbohydrateCalculatorSuite" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="com.carbocalc.listeners.TestListener"/>
    </listeners>

    <test name="CalculatorRegressionScaffold">
        <classes>
            <class name="com.carbocalc.tests.CarbohydrateCalculatorTestCases"/>
        </classes>
    </test>
</suite>
